.texto-menor{
    font-size: 13px;
}

.divs-facilidades{
    width: 325px;
}

.texto__lime{
    color: #DAFF01;
}

.diamond__container{
    color: #DAFF01;
}

.botao-lilas {
  background-color: #9353FF !important;
  color: white !important;
}

.botao__lilas-hover {
  background-color: #9353FF; ; 
  transition: background-color 0.3s ease;
}

.botao__lilas-hover:hover {
  background:#0d6efd; 
}

.posicao{
  top:70%
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}

/*@media (min-width: 768px) and (max-width: 1440px) {
  .img-ajuste-tablet {
    min-height: 260px;
    object-fit: cover;
  }
}
